.style-login {
  text-decoration: none;
  color: white;
  padding: 0px 75px;
}

.style-button {
  width: 100%;
  border-radius: 30px;
}

section {
  margin-top: 200px;
}

.cotainer {
  width: 600px;
}
